* text=auto
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf

unity/Assets/**/*.meta whitespace=-blank-at-eol
unity/Assets/**/*.asset whitespace=-blank-at-eol
unity/Assets/**/*.prefab whitespace=-blank-at-eol
unity/Assets/**/*.unity whitespace=-blank-at-eol
unity/ProjectSettings/*.asset whitespace=-blank-at-eol
